.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
  user-select: none;

}

.counter {
  padding-top: 50px;
  position: relative;
}

.points-per-second {
  font-size: 20px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.click-button {
  background-color: rgb(0, 3, 196);
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.05s;
  box-shadow: none;
}

.click-button:hover {
  background-color: rgb(0, 2, 139);
  transform: scale(1.08);
  box-shadow: 0 0 10px rgb(131, 131, 131);
}

.click-button:active {
  transform: scale(0.92);
  box-shadow: none;
}

.upgrade-container {
  display: flex;
  column-gap: 10px;
}
