.tabs-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  border: 5px solid black;
  margin-top: 40px;
  background-color: rgb(59, 79, 134);
  font-size: 20px;
}

.tab-selector-container {
  height: 75px;
  width: 100%;
  border-bottom: 5px solid black;
  align-items: end;
  overflow-y: hidden;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.tab-selector {
  height: 50px;
  flex: 1;
  background-color: rgb(1, 202, 1);
  transition: 0.5s ease;
  cursor: pointer;
  align-content: end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid green 4px;
  border-bottom: none;
  text-align: center;
  align-content: center;
}

.tab-selector:not(.selected-tab):hover {
  height: 60px;
  flex-grow: 1.2;
}

.selected-tab {
  height: 71px;
}

.tab-content-container {
  height: 700px;
}

.first-tab {
  background-color: green;
  width: 100%;
  height: 100%;
}

.tab-content-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 50px;
  justify-items: center;
  margin-top: 50px;
  overflow: hidden;
}