.upgrade-container {
  height: 228px;
  width: 150px;
  background-color: green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  font-size: 18px;
  position: relative;
}

.upgrade-desc-container {
  padding: 5px 10px;
  border-radius: 20px;
  height: 120px;
  background-color: rgb(0, 92, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.upgrade-count-container {
  color: rgb(190, 190, 190);
  border-bottom: 2px rgb(0, 58, 0) solid;
}

.upgrade-desc {
  overflow: auto;
  scrollbar-width: none;
  padding-top: 2px;
}

.upgrade-button {
  background-color: rgb(131, 0, 0);
  font-family: "Nunito";
  color: white;
  border: none;
  border-radius: 14px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.05s;
}

.buyable {
  background-color: rgb(0, 153, 0);
}

.upgrade-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(73, 73, 73);
}

.upgrade-button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.upgrade-count {
  color: rgb(0, 53, 0);
  align-items: end;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.overlay-container {
  position: relative;
  height: 248px;
  width: 170px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 80px;
  pointer-events: none;
}

.overlay-background {
  position: absolute;
  will-change: auto;
  inset: 0;
  width: calc(100% + 99px);
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    rgb(15, 15, 15) 0px,
    rgb(15, 15, 15) 35px,
    rgb(44, 55, 71) 35px,
    rgb(44, 55, 71) 70px
  );
  animation: stripeMove 2s linear infinite;
}

.overlay-text {
  z-index: 1;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
  animation: textMove 3s ease-in-out infinite;
  animation-direction: alternate;
}

.overlay-cost-text {
  font-size: 20px;
  z-index: 1;
  background-color: black;
}

@keyframes textMove {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes stripeMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-99px);
  }
}