.upgrade-outer-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 0 auto;
  width: max-content;
  margin-top: 50px;
  background-color: rgb(163, 163, 163);
  padding: 20px;
  border-radius: 20px;
  border: 5px black solid;
}

.upgrade-container {
  height: 280px;
  width: 180px;
  background-color: green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px rgb(0, 92, 0) solid;
  gap: 10px;
  font-size: 20px;
}

.upgrade-desc-container {
  padding: 10px;
  border-radius: 20px;
  height: 50%;
  background-color: rgb(0, 92, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  overflow: auto;
  scrollbar-width: none;
}

.upgrade-button {
  background-color: rgb(131, 0, 0);
  color: white;
  border: none;
  border-radius: 14px;
  padding: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.05s;
}

.buyable {
  background-color: rgb(0, 153, 0);
}

.upgrade-button:active {
  transform: scale(0.95);
}

.upgrade-count {
  flex-grow: 1;
  color: rgb(0, 53, 0);
  align-items: end;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.upgrade-number {
  color: lightblue;
}