.upgrade-outer-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgb(163, 163, 163);
  padding: 20px;
  border-radius: 20px;
  border: 5px black solid;
}

.upgrade-container {
  height: 280px;
  width: 180px;
  background-color: green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px rgb(0, 92, 0) solid;
  gap: 10px;
  font-size: 20px;
}

.upgrade-desc-container {
  padding: 5px 10px;
  border-radius: 20px;
  height: 50%;
  background-color: rgb(0, 92, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.upgrade-count-container {
  color: rgb(190, 190, 190);
  border-bottom: 2px rgb(0, 58, 0) solid;
}

.upgrade-desc {
  overflow: auto;
  scrollbar-width: none;
  padding-top: 2px;
}

.upgrade-button {
  background-color: rgb(131, 0, 0);
  color: white;
  border: none;
  border-radius: 14px;
  padding: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.05s;
}

.buyable {
  background-color: rgb(0, 153, 0);
}

.maxed {
  background-color: rgb(82, 82, 82);
}

.upgrade-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(73, 73, 73);
}

.upgrade-button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.upgrade-count {
  flex-grow: 1;
  color: rgb(0, 53, 0);
  align-items: end;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}